<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msushanth.tablesapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PresentationLayer.FormClasses.Account.LogInForm"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PresentationLayer.FormClasses.Account.CreateAccountForm"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PresentationLayer.FormClasses.Invitation.SelectMatchedUsersForm"
            android:label="SelectMatchedUsersForm"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PresentationLayer.FormClasses.Chat.ChatRoomForm"
            android:label="ChatRoomForm"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:label="Tables"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PresentationLayer.FormClasses.Profile.CreatePersonalProfileForm"
            android:label="CreatePersonalProfileForm"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PresentationLayer.FormClasses.Profile.EditPersonalProfileForm"
            android:label="EditPersonalProfileForm"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PresentationLayer.FormClasses.Account.PasswordRecoveryForm"
            android:label="PasswordResetForm"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PresentationLayer.FormClasses.Invitation.ProfileViewer"
            android:label="@string/title_activity_profile_viewer"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".PresentationLayer.FormClasses.Chat.SetWhenAndWhereToMeetForm"
            android:label="WhenAndWhereToMeet"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>